:root{
    --primary-color:#202020;
    --secondary-color:#FBFBFB;
    --main-font: 'Roboto', sans-serif;
    --secondary-font:'Poiret One', cursive;;
}

body{
/* font-family: 'Montserrat',sans-serif; */
    font-family: var(--main-font);
    background-color: var(--primary-color);
}
h1{
    /* font-family: 'Poiret One',cursive; */
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.1em;
    color: var(--secondary-color);

}
h2 {
    /* font-family: 'Poiret One',cursive; */
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: var(--secondary-color);

}
p{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}
@media(max-width: 700px){
    h1 {
            /* font-family: 'Poiret One',cursive; */
            text-transform: uppercase;
            font-size: 50px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: 0.1em;
    
        }
    h2 {
        /* font-family: 'Poiret One',cursive; */
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1em;

    }
    .btn-branding{
        display: block;
    
    }
}
a{
    text-decoration: none;
}

.hero{
    background-color: var(--primary-color);
    
    margin: 0 auto;
    text-align: center;
    background-image: url("/img/main.jpeg");
    background-size:90%;
    background-position: center;
    padding: 0 0 200px 0;
}
.hero-txt{
    padding-top: 100px;
}
.hero p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn-branding{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 10%;
    border-radius: 50px;
    padding: 20px 45px;
    margin-top: 20px;
}
.btn:hover{
    
    background-color:  red;
    color: var(--secondary-color);
}
a img{
    mix-blend-mode: luminosity;
    width: 100%;
    height: 90%;
}
.img-active:hover{
    mix-blend-mode: normal;
}
i{
    color: var(--secondary-color);
}
a i:hover{
    color: red;
}
.container{
    margin: 50px auto;
}
.logo{
    width: 100px;
}
.bottom{
    background-color: black;
    align-items: center;
}
.bottom p {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: var(--secondary-color);
    margin-bottom: 0;
}
.nav-link:hover{
    color: red;
}
.highlights{
    color: red;
    font-size: 18px;
}
.about h1{
    font-size: 50px;
}
#main-photo{
    width: 100%;
    height: 100%;
}
.software{
    background-color: rgba(255, 0, 0, 0.188);
    padding: 2% 0;
    max-width: 150px;
}
.software img{
    width: 20px;
    height: 90%;
}
.software h2{
    font-size: 16px;
}
.address{
    margin: 100px auto;
    
    
}
.address a{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}
.address a:hover {
    text-decoration: underline;
}
